body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 20px auto;
}

/* Grupo de entrada */
.input-group {
    margin: 10px 0;
}

/* Centrar el canvas */
.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Asegura que se centre verticalmente */
    margin-top: 30px;
}

/* Mensaje flotante */
.floating-message {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.floating-message.show {
    top: 20px;
    opacity: 1;
}
