body {
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin: 20px auto;
}

/* Grupo de entrada */
.input-group {
    margin: 10px 0;
}

/* Contenedor del árbol */
.tree-container {
    margin-top: 30px;
    text-align: center;
}

/* Estilo de los nodos */
.node {
    display: inline-block; /* Para que los nodos se alineen uno al lado del otro */
    width: 40px; /* Ancho del nodo */
    height: 40px; /* Alto del nodo */
    border-radius: 20px; /* Para hacer un círculo */
    text-align: center; /* Centrar el texto */
    line-height: 40px; /* Centrar verticalmente el texto */
    margin: 5px; /* Espaciado entre nodos */
    color: white; /* Color del texto dentro del nodo */
    font-weight: bold; /* Negrita para el texto */
}

/* Mensaje flotante */
.floating-message {
    position: fixed;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

.floating-message.show {
    top: 20px;
    opacity: 1;
}
